.Footer {
  margin-top: 5px;
  font-size: 75%;
}

.Footer a {
  color: rgb(92, 139, 209);
  text-decoration: none;
}

.Footer a:hover {
  text-decoration: none;
  color: rgb(92, 139, 209);
  font-weight: bold;
}
