.Forecast.row {
  margin: 0;
}

.Forecast {
  text-align: center;
  font-size: 15px;
}

.Forecast canvas {
  display: block;
  width: 45px;
  margin: 10px auto;
}

.col {
  padding: 4px 0;
  border-radius: 5px;
}

.col:hover {
  background-color: white;
  transition: all 150ms linear;
}
