.Forecast.row {
  margin: 0;
}

.Forecast {
  text-align: center;
  font-size: 15px;
}

.Forecast canvas {
  display: block;
  width: 45px;
  margin: 10px auto;
}

.Forecast .col {
  padding: 4px 0;
  border-radius: 5px;
}

.Forecast .col:hover {
  background-color: white;
  transition: all 150ms linear;
}

@media (max-width: 450px) {
.Forecast.row {
display: inline-block;
width: 100%;
}

.Forecast .col {
background-color: white;
width: 47%;
display: inline-block;
margin-bottom: 5%;
}

.Forecast .col:nth-of-type(2n) {
  margin-left: 3%;
}

.Forecast .col:nth-of-type(2n + 1) {
  margin-right: 3%;
}
}