.Info .card-main-weather {
  margin: 20px auto;
  border: none;
  padding: 10px;
}

.Info .city {
  font-weight: 500;
}

.Info #description,
.Info #heading-with-date,
.Info .line-list,
.Info #humidity {
  font-size: 15px;
}

.Info #description {
  line-height: 1.5;
  color: rgb(109, 151, 214);
  display: block;
}

.Info .center-of-info {
  margin-top: 3px;
}

.Info canvas {
  width: 45px;
  margin-right: 5px;
  position: relative;
  top: 10px;
}

.Info .line-list {
  padding: 15px 0 5px 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.Info .list {
  padding: 0;
  display: inline;
  flex: 100%;
  align-self: baseline;
}

.Info .sun-sunrise,
.Info .sun-sunset {
  font-size: 29px;
  position: relative;
  top: 8px;
}

@media screen and (max-width: 600px) {
  .Info #description,
  .Info #heading-with-date,
  .Info .line-list,
  .Info #humidity {
    font-size: 70%;
  }
}
