.Search form {
  display: inline;
}

.Search #search-submit {
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(92, 139, 209);
  color: #fef9d7;
  margin: 10px;
}
.Search button {
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(92, 139, 209);
  color: #fef9d7;
  margin: 10px 5 px;
}
