.card-weather {
  border: none;
}
.card-main-weather {
  margin: 20px auto;
  border: none;
}

.card-body-weather {
  background-image: linear-gradient(to top, rgb(92, 139, 209) 0%, #fef9d7 100%);
  border-radius: 10px;
}
