.WeatherApp .card-weather {
  border: none;
}

.WeatherApp .card-body-weather {
  background-image: linear-gradient(
    to top,
    rgb(162, 187, 224) 0%,
    #fef9d7 100%
  );
  border-radius: 10px;
}

.WeatherApp {
  font-size: 20px;
}

.WeatherApp form {
  display: inline;
}

.WeatherApp #input-city-form {
  margin-right: 10px;
}

.WeatherApp #search-submit {
  border: 2px solid;
  border-radius: 4px;
  background-color: rgb(109, 151, 214);
  color: #fef9d7;

  padding: 2px 5px;
}

.WeatherApp #search-submit:hover {
  box-shadow: 5px 5px 10px rgb(92, 139, 209);
  color: rgb(92, 139, 209);
  background-color: #fef9d7;
}
