.WeatherApp .card-weather {
  border: none;
}

.WeatherApp .card-body-weather {
  background-image: linear-gradient(to top, rgb(92, 139, 209) 0%, #fef9d7 100%);
  border-radius: 10px;
}

.WeatherApp {
  font-size: 20px;
}

.WeatherApp form {
  display: inline;
}
.WeatherApp #search-submit,
.WeatherApp #button {
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(92, 139, 209);
  color: #fef9d7;
  margin: 10px;
}
.WeatherApp #button {
  padding: 1px 5px;
}

@media screen and (max-width: 800px) {
  .WeatherApp #button {
    margin: 0;
  }
}
