.WeatherApp .card-weather {
  border: none;
}

.WeatherApp .card-body-weather {
  background-image: linear-gradient(
    to top,
    rgb(162, 187, 224) 0%,
    #fef9d7 100%
  );
  border-radius: 10px;
}

.WeatherApp {
  font-size: 20px;
}

.WeatherApp .form {
  display: inline;
}
.WeatherApp form {
  display: inline;
}

.WeatherApp #input-city-form {
  margin-bottom: 10px;
}

.WeatherApp #search-submit {
  border: 2px solid #8baad4;
  border-radius: 4px;
  background-color: #8baad4;
  color: #fef9d7;
  display: inline;
  padding: 1px 5px;
  margin: 0 10px;
}

.WeatherApp #search-submit:hover {
  box-shadow: 5px 5px 10px rgb(92, 139, 209);
  color: rgb(92, 139, 209);
  background-color: #fef9d7;
}

.WeatherApp #current-button {
  border: 2px solid #8baad4;
  border-radius: 4px;
  background-color: #8baad4;
  color: #fef9d7;
  display: inline;
  padding: 1px 5px;
}

.WeatherApp #current-button:hover {
  box-shadow: 5px 5px 10px rgb(92, 139, 209);
  color: rgb(92, 139, 209);
  background-color: #fef9d7;
}
